# Servidor
PORT=5000

# Base de Datos
MONGO_URI=mongodb://localhost:27017/uberclone

# Seguridad
JWT_SECRET=tu_secreto_para_tokens_aqui

# APIs Externas
GOOGLE_MAPS_API_KEY=tu_api_key_de_google_maps_aqui
STRIPE_SECRET_KEY=tu_stripe_secret_key_aqui

# Firebase Admin SDK
# Ruta al archivo JSON de la cuenta de servicio de Firebase
FIREBASE_SERVICE_ACCOUNT_PATH=./src/config/firebase-service-account.json
